/*
1- posicionamiento
2- box model
3- tipografia
4- visuales
5- miscelaneos (media queries, animations, etc)
*/

:root {
    /* Colores */
    --bitcoin-orange: #F7931A;
    --bullish-green: #1af725;
    --warm-black: #201E1C;
    --soft-orange: #FFE9D4;
    --secondary-blue: #1A9AF7;
    --soft-blue: #E7F5FF;
    --black: #282623;
    --grey: #bababa;
    --off-white: #faf8f7;
    --just-white: #ffffff;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: "DM Sans", sans-serif;
}

header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    text-align: center;
    background: linear-gradient(208deg, var(--black) 0%, #F7931A 100%);
}

header img {
    width: 150px;
    height: 24px;
    margin-top: 60px;
}

.header__title_container {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    margin-top: 50px;
    text-align: center;
    align-self: center;
}

.header__title_container h1 {
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}

.header__title_container p {
    margin-top: 2.5rem;
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--soft-orange);
}

.header__title_container .header__button {
    position: absolute;
    left: calc(50% - 118px);
    top: 270px;
    display: block;
    margin-top: 3.5rem;
    padding: 15px;
    width: 229px;
    height: 48px;
    background-color: var(--off-white);
    /* Sombra */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.16);
    border: none;
    border-radius: 8px;
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--black);
    text-decoration: none;
    cursor: pointer;
}

.header__button span {
    align-self: flex-end;
    display: inline-block;
    width: 13px;
    height: 13px;
    margin-left: 10px;
    background-image: url("./assets/icons/down-arrow.svg");
    background-repeat: no-repeat;
    position: relative;
    bottom: -4px;
    z-index: 9999;
}

main {
    width: 100%;
    height: auto;
    background-color:  var(--off-white);
}

.main-exchange-container {
    width: 100%;
    height: auto;
    padding: 40px 0px 20px 0px;
    text-align: center;
}

.main-exchange-container__title {
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;
}

.main-exchange-container .backgroundImg {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 50px;
    background-image: url("./assets/img/Bitcoin.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.main-exchange-container h2 {
    margin-bottom: 30px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--black);
}

.main-exchange-container p {
    margin-bottom: 30px;
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.6rem;
    color: #757575;
}

.main-table-container {
    display: flex;
    flex-direction: column;
    gap: 52px; /* Puedes ajustar el espacio entre tablas aquí, por ejemplo 32px */
}



/* CURRENCY TABLE */

.main-currency-table {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-width: 235px;
    max-width: 500px;
    margin: 0 auto;
    font-family: 'Inter', sans-serif;
}

.currency-table--container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 230px;
    width: 90%;
}
 .currency-table--container {
    max-width: 300px;
    display: flex;
    justify-content: center;   
    height: 250px;
    margin: 0 auto;
} 
.currency-table--container table {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    table-layout: fixed;
}

.currency-table--container td {
    width: 50%;
    padding: 1px;
    font-size: 1.6rem;
    line-height: 1.9rem;
    color: var(--grey);
    background-color: var(--just-white);
}

.currency-table--container .table__top-left {
    border-radius: 15px 0 0 0;
}
.currency-table--container .table__top-right {
    border-radius: 0 15px 0 0;
}
.currency-table--container .table__bottom-left {
    border-radius: 0 0 0 15px;
}
.currency-table--container .table__bottom-right {
    border-radius: 0 0 15px 0;
}

.currency-table--container .table__center {
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1.7rem;
    color: #757575
}

.main-currency-table .currency-table--title {
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 2.3rem;
    color: var(--bitcoin-orange);
}

.currency-table-date {
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
    max-width: 300px;
    margin-top: 15px;
    padding: 8px 12px;
    background-color: var(--soft-orange);
    border-radius: 8px;
    box-sizing: border-box;
}

.currency-table-date p {
    margin: 0;
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: var(--warm-black);
    text-align: center;
    font-weight: normal;
}

/* COMISSION TABLE  */


.main-commission-table {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-width: 235px;
    max-width: 500px;
    margin: 0 auto;
    font-family: 'Inter', sans-serif;
}

.commission-table--container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 230px;
    width: 90%;
}
 .commission-table--container {
    max-width: 300px;
    display: flex;
    justify-content: center;   
    height: 250px;
    margin: 0 auto;
} 
.commission-table--container table {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    table-layout: fixed;
}

.commission-table--container td {
    width: 50%;
    padding: 1px;
    font-size: 1.6rem;
    line-height: 1.9rem;
    color: var(--grey);
    background-color: var(--just-white);
}

.commission-table--container .table__top-left {
    border-radius: 15px 0 0 0;
}
.commission-table--container .table__top-right {
    border-radius: 0 15px 0 0;
}
.commission-table--container .table__bottom-left {
    border-radius: 0 0 0 15px;
}
.commission-table--container .table__bottom-right {
    border-radius: 0 0 15px 0;
}

.commission-table--container .table__right {
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1.7rem;
    color: #757575
}

.main-commission-table .commission-table--title {
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 2.3rem;
    color: var(--secondary-blue);
}

.commission-table-date {
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
    max-width: 300px;
    margin-top: 15px;
    padding: 8px 12px;
    background-color: var(--soft-orange);
    border-radius: 8px;
    box-sizing: border-box;
}

.commission-table-date p {
    margin: 0;
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: var(--warm-black);
    text-align: center;
    font-weight: normal;
}

/* COLORES DE DIFERENTES INTERCAMBIOS */

#binance {
    color: var(--bitcoin-orange);
}
#bitget {
    color:var(--secondary-blue)
}
#mexc {
    color:var(--secondary-blue)
}
#bitfinex {
    color: var(--bullish-green);
}

/*Estilos de las product cards*/


.main-product-detail{
    position: relative;
    width: 100%;
    min-width: 320px;
    height: auto;
    padding: 20px 10px;
    background-color: var(--warm-black);
}

.product-detail--batata-logo{
    position: absolute;
    background-image: url("./assets/img/logo.svg");
    width: 40px;
    height: 25px;
    top: -15px;
    left: calc(50% - 20px);
}

.product-detail--title{
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: auto;
    margin: 50px auto 0;
    text-align: center;
}

.product-detail--title h2{
    margin-bottom: 20px;
    font-size: 2.4rem;
    font-weight: bold;
    color: var(--just-white);
}
.product-detail--title p{
    margin-bottom: 20px;
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: #808080;
}
.product-detail--card{
    width: 90%;
    min-width: 288px;
    max-width: 400px;
    height: 150px;
    margin: 15px auto;
    padding: 15px;
    background-color: var(--black);
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);

}

/* Imagenes de fondo */

.product-detail--card .clock, 
.product-detail--card .eye,
.product-detail--card .dollar-sign,
.product-detail--card .checked
{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    background-image: url('./assets/icons/clock.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.product-detail--card .eye{
    background-image: url('./assets/icons/eye.svg');
}
.product-detail--card .dollar-sign{
    background-image: url('./assets/icons/dollar-sign.svg');
}
.product-detail--card .checked{
    background-image: url('./assets/icons/check-circle.svg');
}

/*Cuerpo de la tarjeta*/

.product--card-title{
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--just-white);

}

.product--card-body{
    font-size: 1.4rem;
    line-height: 1.8rem;
    margin-bottom: 15px;
    font-weight: bold;
    color: #808080;

}

/*Seccion de imagen*/
.bitcoin-image-container{
    width: 100%;
    min-width: 320px;
    height: 50vh;
    background-image: url('assets/img/bitcoinbaby2x.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}
.bitcoin-image-container h2{
    padding-top: 60px;
    font-size: 2.4rem;
    line-height: 2.6rem;
    font-weight: bold;
    color: var(--just-white);
}

/* Seccion de planes  */

.main-plans-container{
    width: 100%;
    min-width: 320px;
    height: auto;
    padding-bottom: 70px;
    text-align: center;
}
    
.plans--title{
    margin-bottom: 50px;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    margin-bottom: 50px;
}

.plans--title h2{
    padding-top: 50px;
    font-size: 2.4rem;
    line-height: 2.6rem;
    color: var(--black);
    font-weight: bold;
}
.plans--title p{
    padding-top: 30px;
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1.8rem;
    margin-bottom: 15px;
    color: #757575;
}

/* Seccion slider */
.plans-container--slider{
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 20px;
}

.plans-container--card{
    position: relative;
    width: 70%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin: 50px auto 0;
    padding: 0 15px;
    background-color: var(--just-white);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16);
}
